<div class="big-card" data-id="{{id}}">
	<div class="big-card-aspect"></div>
	<div class="big-card-content" style="background-image: url('{{link}}')"></div>
</div>
<div class="small-card-group"></div>
