<div id="header">
	<div id="title" class="title"><b>_ARCHITEKT</b></div>
	<div id="subtitle">Welcome to our online portfolio, we are small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovative steps. Free Architect WorkPress Theme</div>
</div>
