<div id="menu">
	<div id="welcome">
		<span>welcome back,&nbsp;</span>
		<a id="profile">anonymous</a>
	</div>
	<div id="actions">
		<div class="sep">・</div>
		<div>
			<a id="new">new</a>
			<div class="sep">・</div>
		</div>
		<div>
			<a id="edit">edit</a>
			<div class="sep">・</div>
		</div>
		<div>
			<a id="discard">discard</a>
			<div class="sep">・</div>
		</div>
		<div>
			<a id="done">done</a>
			<div class="sep">・</div>
		</div>
		<div>
			<a id="login">login</a>
			<div class="sep">・</div>
		</div>
	</div>
</div>
