<div class="small-card">
	<div class="small-card-aspect"></div>
	<div class="small-card-content">
		<div class="small-card-img">
			<div class="small-card-img-aspect"></div>
			<div class="small-card-img-bkgd"></div>
		</div>
		<div class="small-card-text">
		</div>
	</div>
</div>
