<form action="/user/new" method="post" id="form">
	<table>
		<tr>
			<td class="label">Username: </td>
			<td><input type="text" name="username"></td>
		</tr>
		<tr>
			<td class="label">Password: </td>
			<td><input type="text" name="password"></td>
		</tr>
	</table>
</form>
