* {
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  cursor: default;
  user-select: none;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */ }

html {
  font-size: 20px;
  font-family: sans-serif; }

body {
  padding: 3rem; }
  @media only screen and (max-device-width: 458px), only screen and (min-device-width: 1024px) and (max-width: 965px) {
    body {
      padding: 0px; } }

@media only screen and (max-device-width: 458px), only screen and (min-device-width: 1024px) and (max-width: 965px) {
  #main {
    padding: 1rem;
    padding-top: 0px; } }

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none; }

#header {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  border: 0px solid #F0F0F0;
  border-top-width: 2px; }
  @media only screen and (max-device-width: 458px), only screen and (min-device-width: 1024px) and (max-width: 965px) {
    #header {
      border-width: 0px; } }

#title {
  color: #7D777D;
  font-size: 3rem;
  flex: 1 0 30%;
  padding-right: 1rem;
  border: 0px solid #F0F0F0;
  border-right-width: 2px;
  display: flex;
  align-items: center; }
  @media only screen and (max-device-width: 458px), only screen and (min-device-width: 1024px) and (max-width: 965px) {
    #title {
      font-size: 2rem;
      border-width: 0px;
      flex: 1 0 100%;
      justify-content: center; } }

#subtitle {
  color: #D0CDD0;
  flex: 0 0 360px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.7rem;
  display: flex;
  align-items: center; }
  @media only screen and (max-device-width: 458px), only screen and (min-device-width: 1024px) and (max-width: 965px) {
    #subtitle {
      display: none; } }

.big-card {
  width: 100%;
  overflow: auto;
  position: relative; }
  @media only screen and (min-device-width: 1024px) and (min-width: 965px) {
    .big-card {
      margin-top: 2rem; } }

.big-card-aspect {
  margin-bottom: 40%; }

.big-card-content {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: grey;
  background-size: cover;
  background-position: 0 0; }

.small-card-group {
  width: 100%;
  padding-top: 1rem;
  border: 0px solid #F0F0F0;
  border-bottom-width: 3px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

.small-card {
  width: calc(33% - 0.66rem);
  margin-bottom: 1rem; }
  @media only screen and (max-device-width: 458px), only screen and (min-device-width: 1024px) and (max-width: 965px) {
    .small-card {
      width: 100%; } }

.small-card-img {
  width: 100%;
  overflow: auto;
  position: relative; }

.small-card-img-aspect {
  margin-bottom: 60%; }

.small-card-img-bkgd {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: grey;
  background-size: cover;
  background-position: 0 0; }

.small-card-text {
  width: 100%;
  font-size: 0.7rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #7D777D !important;
  padding-top: 0.5rem; }
