.big-card {
	width: 100%;
	overflow: auto;
	position: relative;
}

.big-card-aspect {
	margin-bottom: 40%;
}

.big-card-content {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: grey;
	background-size: cover;
	background-position: 0 0;
}

.small-card-group {
	width: 100%;
	padding-top: 1rem;
	border: 0px solid $header-border-color;
	border-bottom-width: 3px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.small-card-group > .small-card {
	width: calc(33% - 0.66rem);
}

.small-card {
	width: 100%;
	margin-bottom: 1rem;
	@include respond-to(small) {
		width: 100%;
	}
}

.small-card-img {
	width: 100%;
	overflow: auto;
	position: relative;
}

.small-card-img-aspect {
	margin-bottom: 60%;
}

.small-card-img-bkgd {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: grey;
	background-size: cover;
	background-position: 0 0;
}

.small-card-text {
	width: 100%;
	font-size: 0.7rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: $header-title-color !important;
	padding-top: 0.5rem;
}
