.big-card {
	width: 100%;
	height: 10rem;
	background-color: orange;
}

.small-card-group {
	width: 100%;
	height: 10rem;
	background-color: green;
}

.small-card {
	width: 30%;
	height: 5rem;
	background-color: red;
}
