#details-author-link {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: $header-subtitle-color;
	margin-top: 1rem;
}

#details-img {
	width: 100%;
}

#details-desc {
	color: $header-title-color;
	margin-top: 1rem;
}
