#menu {
	width: 100%;
	color: $header-subtitle-color;
	font-size: 0.9rem;
	display: flex;
	flex-flow: row wrap;
	border: 0px solid $header-subtitle-color;
	border-right-width: 1px;
	@include respond-to(small) {
		border-width: 0px;
		padding: 0px;
		margin-bottom: 1rem;
	}
}

#menu > div {
	padding-left: 1rem;
	@include respond-to(small) {
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}
}

#welcome {
	border: 0px solid $header-subtitle-color;
	border-left-width: 1px;
	flex: 1 0 5rem;
	@include respond-to(small) {
		padding: 3px;
		color: white;
		text-align: center;
		background-color: $header-title-color;
	}
} 

#profile {
	color: $header-title-color;
	@include respond-to(small) {
		color: white;
	}
}

#actions {
	display: flex;
	flex-flow: row wrap;
	& > div > a {
		color: $header-title-color;
		padding-left: 1rem;
		padding-right: 1rem;
		border: 0px solid $header-subtitle-color;
		border-left-width: 1px;
	}
	& > div {
		display: none;
	}
	@include respond-to(small) {
		margin: 1rem;
		margin-bottom: 0px;
		& > div > a {
			border-width: 0px;
			padding: 0px;
		}
	}
}

.sep {
	display: none;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	@include respond-to(small) {
		display: initial !important;
		margin-right: 0.8rem;
	}
}
