#menu {
	color: $header-subtitle-color;
	font-size: 0.9rem;
	display: flex;
	flex-flow: row wrap;
	border: 0px solid $header-subtitle-color;
	border-right-width: 1px;
}

#menu > div {
	border: 0px solid $header-subtitle-color;
	border-left-width: 1px;
	padding-left: 1rem;
	padding-right: 1rem;
}

#welcome {
	flex: 1 0 5rem;
}

#edit, #discard, #done {
	display: none;
}
